{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block dropdown %}
    {% include 'partial/simple_search.html' %}
    <a href="{% url 'webapp:file_add' %}" class="btn btn-success ml-3" role="button">Создать файл</a>
{% endblock %}
{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <div class="row">
        {% for file_on in files %}
            <div class="col-6 col-md-4 col-lg-3 my-2">
                <div class="card">
                    <div class="card-header">
                        {% if file_on.author %}
                            <p> Автор:
                            <a class="text-info" href="{% url 'accounts:detail' file_on.author.pk %}">{{ file_on.author.username }}</a>
                            </p>

                        {% else%}
                            <p> Автор: Аноним</p>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p>Название файла:
                            <a class="text-info" href="{% url 'webapp:detail_file' file_on.pk %}">{{ file_on.name}}</a>
                        </p>
                        <p>дата загрузки: {{ file_on.creation_date|date:"d/m/Y" }}</p>
                    </div>
                    <div class="card-footer">
                        доступ : {{ file_on.access }}
                        <a href="{{ file_on.file.url }}" class="btn btn-outline-success ml-2" download>Скачать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}